{% extends 'base.html' %}

{% block title %}
    profile {{ user.username }}
{% endblock %}

{% block content %}
    <h1>profile of {{ user.username }}</h1>
    {% if request.user.id == user.id %}
        <h4><a href="{% url 'Post:post-create' %}">create new post</a></h4>

    {% endif %}
    {% if request.user.id != user.id and not is_following %}
        <a href="{% url 'Account:user-follow' user.id %}">Follow</a>
    {% elif request.user.id != user.id and is_following %}
        <a href="{% url 'Account:user-unfollow' user.id %}">Unfollow</a>
    {% endif %}
    <h2>posts : </h2>
    {% for post in posts %}
        <br>
        <h3>
            <a href="{% url 'Post:post-detail' post.id  post.slug %}">{{ post.title }}</a>

        </h3>
        <p>
            {{ post.content | truncatewords:8 }}
        </p>

        <bold>written by <a href="{% url 'Post:post-detail'  post.id post.slug %}">{{ post.author.username }} </a>
        </bold>

    {% endfor %}



{% endblock %}